/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Portrait layout (default) */
.app {
    background:url(../img/action_pichome_pic.png) no-repeat center top; /* 170px x 200px */
    position: absolute;
    z-index: 0;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#gateLogo{
  z-index: 1;
  position: absolute;
  left: 17%;
}

#emailBox{
  background-color: #FFFFFF;
  text-align: left;
  font-size: 18px;
  color: #C4C4C4;
  width: 205px;
  height:33px;
  top:64%;
  left:20%;
  position:absolute;
  border-width:5px;
  border-color:#A6A6A6;
  border-style:solid;
  font-family:roboto;
  border-radius:10px;
  padding-left: 10px;
}

#passwordBox{
  background-color: #FFFFFF;
  text-align: left;
  font-size: 18px;
  color: #C4C4C4;
  width: 205px;
  height:33px;
  top:73%;
  left:20%;
  position:absolute;
  border-width:5px;
  border-color:#A6A6A6;
  border-style:solid;
  font-family:roboto;
  border-radius:10px;
  padding-left: 10px;
}

#LogIn{
  background-color: #862633;
  text-align: center;
  font-size: 18px;
  color: white;
  width: 225px;
  height:43px;
  top:82%;
  left:20%;
  position:absolute;
  border:none;
  font-family:roboto;
  border-radius:10px;
}
