/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #FFFFFF;
}

h2 {
    font-family: "Graduate";
}

h3 {
  font-family: "Amiri";
}

span.number  {
    margin-right: 7px;
    font-family: "Roboto", arial, sans-serif;;
    vertical-align: middle;
    background-color: #862633;
    color: white;
    font-weight: bold;
    padding: 0 8px;
    font-style: italic;
}

.roster {
    display: block;
    background :#E0E0E0;
    margin:10px auto;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: 5px solid white;
}
.roster img{
    height: 113px;
}

.photo {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.info {
    text-align: center;
    display: inline-block;
    width: 265px;
    vertical-align: middle;
}
