@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Amiri');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #333333;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.header {
   background: #862633;
   height: auto;
   position: sticky;
 }

 img.center {
   vertical-align: middle;
 }

 .header h1 {
   font-family:'Graduate';
   font-size: 130%;
   text-align: center;
   padding: 10px 10px;
   margin: 0px;
   color: #FFFFFF;
   background: #800000;
   vertical-align: middle;

 }

div.menu {
    width: 30px;
    height: 3px;
    background-color: white;
    vertical-align: middle;
    margin: 6px 0;
}

.hamburger {
  float: left;
}
