@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #333333;
    background-attachment:fixed;
    font-family:'Amiri', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.header {
   background: #862633;
   height: auto;
   position: sticky;
 }

 img.center {
   vertical-align: middle;
 }

 .fa-caret-down {
   float: right;
   padding-right: 8px;
 }

 .main-header h1 {
   font-family:'Graduate';
   font-size: 18px;
   text-align: center;
   padding: 10px 10px;
   margin: 0px;
   color: #FFFFFF;
   background: #800000;
   vertical-align: middle;
 }

.hamburger {
  float: left;
}

/* Below from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav
and https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_dropdown */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  font-family: "Amiri";
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.dropdown-btn{
  width: 100%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .backbtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-left: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.box {
  border: 5px #FFFFFF solid;
  border-radius: 10px;
  margin: 10px 20px;
  background: #E5E3E3;
}

.maroon-box {
  border: 5px #FFFFFF solid;
  border-radius: 10px;
  margin: 10px 20px;
  background: #862633;
  color: #FFFFFF;
}

.section-title {
  font-family: 'Graduate', sans-serif;
  color: #FFFFFF;
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
}

.section-title2 {
  font-family: 'Graduate', sans-serif;
  color: #FFFFFF;
  font-size: 13pt;
  text-align: center;
  padding-top: 10px;
}

.scoreboard {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  vertical-align: middle;
  align-items:center;
}

.scoreboard .stats {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.scoreboard .stats .score {
  font-size: 20pt;
  margin: 0px;
  line-height: 20pt;
}

.scoreboard .stats p {
  margin: 0;
}

.scoreboard img {
  width: 25vw;
  margin: 5px auto;
}

.article-snippet {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  font-size: 10pt;
  line-height: 15pt;
}

.article-snippet img {
  width: 20vw;
  margin: 10px;
}

.article-snippet h2 {
  color: white;
  padding: 10px;
}

.photo {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.info {
    text-align: center;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.manage img {
  height: 113px;
}

.fa-star {
  color: #555555;
}

.checked {
    color: #F2C94C;
}

.fa-play {
  color: white;
}

a { text-decoration: none; color:inherit; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }



.news_article {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  vertical-align: middle;
  border: 5px #FFFFFF solid;
  border-radius: 10px;
  background: #E5E3E3;
  height: 120px;
  align-items: center;
}

.article_title{
  grid-column-start: 2;
  grid-column-end: 3;
  color:white;
  font-family:'Amiri';
  font-size: 18px;
  font-weight: bold;
  line-height:22px;
  padding-left: 15px;
  padding-right: 15px;
}

.article_pic{
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left:15px;
  padding-top: 5px;
}

.article_pic img{
  width: 40vw;
}

.red{
  background-color: #862633;
}



.scoreboard2 {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  vertical-align: middle;
  border: 5px #FFFFFF solid;
  border-radius: 10px;
  background: #E5E3E3;
}

.scoreboard2 .stats {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  padding-top: 3px;
}

.scoreboard2 .stats .score {
  font-size: 20pt;
  /* margin: 0px; */
  line-height: 20pt;
}

.scoreboard2 .stats p {
  margin: 0;
}

.scoreboard2 .gateImage img {
  width: 23vw;
  padding-top:15px;
  padding-left:8px;
  /* margin: 5px auto; */
}

.scoreboard2 .opponentImage img {
  width: 16vw;
  /* margin: 5px auto; */
  padding-left:15px;
  padding-right:12px;
  padding-top: 20px;
  /* padding-bottom:20px; */
}

.scoreboard2 .gateImage2 img {
  width: 23vw;
  padding-top:15px;
  padding-left:12px;
  padding-right:5px;
  /* margin: 5px auto; */
}

.scoreboard2 .opponentImage2 img {
  width: 16vw;
  /* margin: 5px auto; */
  padding-left:20px;
  padding-right:12px;
  padding-top: 20px;
  /* padding-bottom:20px; */
}

.scoreboard2 .win {
  font-family:'Amiri';
  font-size: 48px;
  font-weight: bold;
  color: #862633;
  padding-left: 10px;
  line-height: 40px;
}

.scoreboard2 .sport-name{
  font-family:'Amiri';
  font-size: 18px;
  font-weight: bold;
}

.scoreboard2 .score {
  font-family:'Amiri';
  font-size: 24px;
  float:right;
  font-weight: normal;
  color:black;
  padding-left: 10px;
  padding-top:5px;
  padding-right: 10px;
}

.scoreboard2 .links {
  font-family:'Amiri';
  font-size: 16px;
}

.scoreboard2 .links img{
  padding-left: 3px;
  padding-right: 2px;
  width: 3vw;
}

.scoreboard2 .Bucknell img {
  width: 22vw;
  /* margin: 5px auto; */
  padding-left:0px;
  padding-right:5px;
  padding-top: 8px;
  /* padding-bottom:20px; */
}





.red{
    background-color: #862633;
}

.scoreboard2 .sport-name2{
  font-family:'Amiri';
  font-size: 18px;
  font-weight: bold;
  color:white;
}

.scoreboard2 .live_score {
  font-family:'Amiri';
  font-size: 48px;
  font-weight: normal;
  color: white;
  line-height: 40px;
}

.scoreboard2 .live_link {
  font-family:'Amiri';
  font-size: 17px;
  color:white;
}


.scoreboard2 .date2 {
  font-family:'Amiri';
  font-size: 18px;
}


.scoreboard2 .sport-name2{
  font-family:'Amiri';
  font-size: 18px;
  font-weight: bold;
  color:white;
}

.scoreboard2 .live_score {
  font-family:'Amiri';
  font-size: 48px;
  font-weight: normal;
  color: white;
  line-height: 40px;
}

.scoreboard2 .live_link {
  font-family:'Amiri';
  font-size: 17px;
  color:white;
}





.upcomingGame {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  vertical-align: middle;
  border: 5px #FFFFFF solid;
  border-radius: 10px;
  background: #E5E3E3;
}

.upcomingGame .stats {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  padding-top: 3px;
}

.upcomingGame .stats p {
  margin: 0;
}

.upcomingGame .gateImage img {
  width: 23vw;
  padding-top:15px;
  padding-left:8px;
  padding-right:5px;
  /* margin: 5px auto; */
}

.upcomingGame .Loyola img {
  width: 20vw;
  /* margin: 5px auto; */
  padding-left:5px;
  padding-right:12px;
  padding-top: 20px;
  /* padding-bottom:20px; */
}

.upcomingGame .Lehigh img {
  width: 20vw;
  /* margin: 5px auto; */
  padding-left:5px;
  padding-right:12px;
  padding-top: 20px;
  /* padding-bottom:20px; */
}

.upcomingGame .date {
  font-family:'Amiri';
  font-size: 18px;
  color: black;
  padding-left: 10px;
  line-height: 20px;
}

.upcomingGame .sport-name{
  font-family:'Amiri';
  font-size: 18px;
  font-weight: bold;
}


.upcomingGame .location {
  font-family:'Amiri';
  font-size: 48px;
  line-height: 20pt;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top:5px;
}

.scoreboard2 .HolyCross img {
  width: 15vw;
  /* margin: 5px auto; */
  padding-left:20px;
  padding-right:12px;
  padding-top: 20px;
  /* padding-bottom:20px; */
}

.upcomingGame .Navy img {
  width: 15vw;
  /* margin: 5px auto; */
  padding-left:20px;
  padding-right:12px;
  padding-top: 10px;
  /* padding-bottom:20px; */
}

.upcomingGame .Clarkson img {
  width: 15vw;
  /* margin: 5px auto; */
  padding-left:20px;
  padding-right:12px;
  padding-top: 10px;
  /* padding-bottom:20px; */
}

.white {
  color:white;
}

.top {
  padding-top: 7px;
}
